<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">

          <tr>
            <th scope="col">Makanan</th>
            <th scope="col">Jenis </th>
            <th scope="col">Jumlah </th>
            <th scope="col">Harga </th>
            <!-- <th scope="col">Minuman</th>
            <th scope="col">Jenis </th>
            <th scope="col">Jumlah </th>
            <th scope="col">Harga </th> -->
          </tr>
          <br>
          <br>
        <tr>
            <td>{{data.itemmakan}}</td>
            <td>{{data.jenismakan}}</td>
            <td>{{data.jumlahmakan}}</td>
            <td>{{data.hargamakan}}</td>
            <!-- <td>{{data.itemminum}}</td>
            <td>{{data.jenisminum}}</td>
            <td>{{data.jumlahminum}}</td>
            <td>{{data.hargaminum}}</td> -->
        </tr>
      </table>    
</body>
</html>